<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="itemKeys" value="大单;小单;大双;小双;大黑;小黑;大红;小红;大;小;单;双;全顺;半顺;杂;包红;4和值;5和值;6和值;7和值;8和值;9和值;10和值;11和值;12和值;13和值;14和值;15和值;16和值;17和值;豹子123456各;只选豹子123456各;通豹"/> 
  </appSettings>
</configuration>
