<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="org.simon.zhao.spring"/>

    <bean id="john" class="org.simon.zhao.spring.base.Person" lazy-init="false">
        <property name="name" value="John"/>
        <property name="age" value="28"/>
    </bean>
    <bean id="simon" class="org.simon.zhao.spring.base.Person" lazy-init="false">
        <property name="name" value="Simon"/>
        <property name="age" value="26"/>
    </bean>

    <bean id="listenerLogInterceptor" class="org.simon.zhao.spring.aop.ListenerLogInterceptor" />
    <aop:config>
        <aop:pointcut expression="execution(* org.simon.zhao.spring.batch..*.*Step(..)) and this(org.springframework.batch.core.StepExecutionListener)" id="listenerLogPointcut" />
        <aop:advisor advice-ref="listenerLogInterceptor" pointcut-ref="listenerLogPointcut" />
    </aop:config>

    <bean id="studentService" class="org.simon.zhao.spring.service.StudentService"></bean>
    <!--<bean id="postprocessor" class="org.simon.zhao.spring.base.InstantiationTracingBeanPostProcessor" />-->

    <import resource="spring-batch-job.xml"></import>
</beans>